body { font-family: sans-serif; background: #eee; }
a, h1, h2 { color: #377ba8; }
h1, h2 { font-family: 'Georgia', serif; margin: 0; }
h1 { border-bottom: 2px solid #eee; }
h2 { font-size: 1.2em; }
dd { margin: 0; }

.page { margin: 2em auto; width: 35em; border: 5px solid #ccc; padding: 0.8em; background: #fff; }
.beers { list-style: none; margin: 0; padding: 0; }
.beers li { margin: 0.8em 1.2em; }
.beers img { display: inline-block; float: left; padding-right: 1em; }

.add_beer dt label { float: left; width: 10em; text-align: right; margin-right: 1em; } 
.add_beer input { font-size: 1.2em; }
.add_beer input[type='submit'] { margin-left: 9.3em; }
.flash { background: #cee5F5; padding: 0.5em; border: 1px solid #aacbe2; }
.error { background: #f0d6d6; padding: 0.5em; }

.clearfix:after { content: " "; display: block; height: 0; clear: both; }
