{% extends "layout.html" %}
{% block head %}
    {{ super() }}
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap-datepicker.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/datepicker.css') }}" />
{% endblock %}
{% block script_ready %}
    {{ super() }}
    $("#kegged_date").datepicker({
        format: "yyyy-mm-dd",
        weekStart: 1,
        keyboardNavigation: false,
        todayHighlight: true
    });
{% endblock %}

{% block body %}
{% from "_formhelpers.html" import render_field %}
<h2>Add a Beer</h2>
  <form action="{{ url_for('add_beer') }}" method="post" class="add_beer">
    <dl>
        {{ render_field(form.name) }}
        {{ render_field(form.kegged_date) }}
        {{ render_field(form.abv) }}
        {{ render_field(form.ibu) }}
    </dl>
    <p><input type="submit" value="Add Beer" /></p>
  </form>
{% endblock %}
