{% extends "layout.html" %}
{% block title %}Add a location{% endblock %}
{% block script_ready %}
    $(".add_tap").bind("click", function() {
        $("<div class=\"input-group\">Test</div>").insertAfter($(this).parent().parent());
    });
{% endblock %}
{% block body %}
{% from "_formhelpers.html" import render_field %}
<h2>Add a Location</h2>
  <form action="{{ url_for('add_location') }}" method="post" role="form">
    {{ render_field(form.name, placeholder="Location Name") }}
    <div class="input-group">
        <input type="text" id="tap1" name="tap1" class="form-control" placeholder="Tap Identifier">
        <span class="input-group-btn">
            <button class="btn btn-default add_tap" type="button">+</button>
        </span>
    </div>
    <p><input type="submit" value="Add Location" class="btn btn-default" /></p>
  </form>
{% endblock %}
