{% extends "layout.html" %}
{% block head %}
    {{ super() }}
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap-datepicker.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/datepicker.css') }}" />
{% endblock %}
{% block script_ready %}
    {{ super() }}
    $(".datepicker").datepicker({
        format: "yyyy-mm-dd",
        weekStart: 1,
        keyboardNavigation: false,
        todayHighlight: true
    });
{% endblock %}

{% block body %}
{% from "_formhelpers.html" import render_field %}
<h2>Brewday</h2>
  <form action="{{ url_for('brewday') }}" method="post">
    <dl>
        {{ render_field(form.brew_date, class="datepicker") }}
        {{ render_field(form.select_beer) }}
        {{ render_field(form.beer_name) }}
        {{ render_field(form.beer_desc) }}
        {{ render_field(form.batch_size) }}
        {{ render_field(form.abv) }}
        {{ render_field(form.ibu) }}
    </dl>
    <p><input type="submit" value="Add Brewday" /></p>
  </form>
{% endblock %}
