{% extends "layout.html" %}
{% block title %}
On Tap
{% if location %}
 at {{ location.name }}
{% endif %}
{% endblock %}

{% block head %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='js/grids.js') }}"></script>
{% endblock %}

{% block script_ready %}
{{ super() }}
    $('.tap_label').equalHeight();
{% endblock %}

{% block content %}
<h1>On Tap
{% if location %}
at {{location.name}}
{% endif %}</h1>

<div class="container">

{% if location %}
<div class="row">

    {% for tap in location.taps.all() %}
    <div class="col-md-{{ location.column_span() }}">
        <div class="tap_label">
        {% if not tap.is_pouring() %}
            <h2 class="text-center"><small>NOTHING</small></h2>
        {% else %}
            <h2 class="text-center">{{ tap.keg.brew.beer.name }}</h2>
            <h3 class="text-center"><small>{{ tap.keg.brew.beer.description }}</small></h3>

            <p class="abv text-center">{{ tap.keg.brew.abv }}<span id="abv_description">%</span></p>
        {% endif %}
        </div>
    </div>
    {% endfor %}

</div>
{% endif %}

{% if not location %}
<ul>
    {% for on_tap in pouring %}
        <li>{{ on_tap.brew.beer.name }} (<a href="{{ url_for('list_ontap_at_location', location_id=on_tap.taps[0].location.id) }}">{{ on_tap.taps[0].location.name }}</a>)</li>
    {% endfor %}
</ul>
{% endif %}
</div>
{% endblock %}
