{% extends "layout.html" %}
{% block title %}
On Tap at {{ location.name }}
{% endblock %}

{% block head %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='js/grids.js') }}"></script>
{% endblock %}

{% block script_ready %}
{{ super() }}
    $('.tap_label').equalHeight();
{% endblock %}

{% block content %}
<h1>On Tap at {{location.name}}</h1>

<div class="container">

<div class="row">

    {% for tap in location.taps.all() %}
    <div class="col-md-{{ location.column_span() }}">
        <div class="tap_label">
        {% if not tap.is_pouring() %}
            <h2 class="text-center"><small>NOTHING</small></h2>
        {% else %}
            <h2 class="text-center">{{ tap.keg.brew.beer.name }}</h2>
            <h3 class="text-center"><small>{{ tap.keg.brew.beer.description }}</small></h3>

            <p class="abv text-center">{{ tap.keg.brew.abv }}<span id="abv_description">%</span></p>
        {% endif %}
        </div>
    </div>
    {% endfor %}

</div>
</div>
{% endblock %}
